<div class="news">
  <br/>
  <h3><strong>Collaborators</strong></h3>
    I have had the chance to work with great minds at MBZUAI, Google Research, CMU, IISc, IIT K and University of Hong Kong among many others.
  <ul>
    <li><a href="https://salman-h-khan.github.io/">Salman Khan</a> (MBZUAI)</li>
    <li><a href="https://sites.google.com/view/fahadkhans/">Fahad Khan</a> (MBZUAI)</li>
    <li><a href="https://www.cs.cmu.edu/~ftorre/">Fernando De la Torre</a> (CMU)</li>
    <li><a href="https://research.google/people/GauravAggarwal/">Gaurav Aggarwal</a> (Google Research)</li>
    <li><a href="https://www.kaihan.org/">Kai Han</a> (University of Hong Kong)</li>
    <li><a href="https://sites.google.com/iisc.ac.in/somabiswas">Soma Biswas</a> (IISc)</li>
    <li><a href="https://www.cse.iitk.ac.in/users/piyush/">Piyush Rai</a> (IIT Kanpur)</li>
    <li>+ of-course, my <a href="https://people.iith.ac.in/vineethnb/">doctoral advisor</a>.</li>
    <li>+ all amazing minds at <a href="https://research.adobe.com/">Adobe Research</a>!</li>
  </ul>
</div>
