<div class="news">
  <br/>
  <h3><strong>Collaborators</strong></h3>
  PhD Interns at Adobe Research:
  <ul>
    <li>2023: <a href="https://schowdhury671.github.io/">Sanjoy Chowdhury</a> (UMD), <a href="https://sayannag.github.io/">Sayan Nag</a> (UoT) [<a href="https://cvpr2023.thecvf.com/virtual/2024/poster/29589">MeLFusion</a>, CVPR 2024].</li>
  </ul>

  Undergraduate Interns at Adobe Research:
  <ul>
    <li>2023: <a href="https://sahilg06.github.io/">Sahil Goyal</a> (IIT R -> Google Deepmind), <a href="https://nickinack.github.io/">Karthik Viswanathan</a> (IIIT H -> PhD at MILA), Abhinav Mahajan (IIIT B), Vinay Kumar Cheerla (IIT B), Dev Shah (IIT G), Mandar Wayal (IIT K).
  </ul>

  Research Collaborators:
  <ul>
    <li><a href="https://prachigarg23.github.io/">Prachi Garg</a> (MSR at CMU -> PhD at UIUC) [POET, ECCV 2024 and <a href="https://openaccess.thecvf.com/content/ICCV2023/html/Aich_Data-Free_Class-Incremental_Hand_Gesture_Recognition_ICCV_2023_paper.html">BOAT-MI</a>, ICCV 2023].</li>
    <li><a href="https://scholar.google.ca/citations?hl=en&user=kLYaMVIAAAAJ">Shubhra Aich</a> (CMU) [<a href="https://openaccess.thecvf.com/content/ICCV2023/html/Aich_Data-Free_Class-Incremental_Hand_Gesture_Recognition_ICCV_2023_paper.html">BOAT-MI</a>, ICCV 2023].</li>
    <li><a href="https://ashok-arjun.github.io/">Arjun Ashok</a> (IIT H -> PhD at MILA) [<a href="https://cscct.github.io/">CSCCT</a>, ECCV 2022].</li>
    <li><a href="https://akshitac8.github.io/">Akshita Gupta</a> (MBZUAI -> MSc at University of Guelph) [<a href="https://openaccess.thecvf.com/content/CVPR2022/html/Gupta_OW-DETR_Open-World_Detection_Transformer_CVPR_2022_paper.html">OW-DETR</a>, CVPR 2022].</li>
    <!-- <li><a href="https://www.linkedin.com/in/deepaksinghcv/">Deepak Kumar Singh</a> (IIIT H), <a href="https://shyamnandan.netlify.app/">Shyam Nandan Rai</a> (IIIT H -> PhD at Politecnico di Torino) [<a href="https://ieeexplore.ieee.org/document/9981886">OWD for Roads</a>, IROS 2022]</li>
    <li><a href="https://www.linkedin.com/in/udit-maniyar-b0649a6a">Udit Maniyar</a> (IIT H -> Amazon) [<a href="https://www.bmvc2020-conference.com/assets/papers/0673.pdf">ZSDG</a>, BMVC 2020].</li> -->
  </ul>

    I have had the chance to work with great minds at MBZUAI, Google Research, CMU, IISc, IIT K and University of Hong Kong among many others.
  <ul>
    <li><a href="https://mbzuai.ac.ae/">MBZUAI</a>: <a href="https://salman-h-khan.github.io/">Salman Khan</a>, <a href="https://sites.google.com/view/fahadkhans/">Fahad Khan</a>.</li>
    <li><a href="https://www.cmu.edu/">CMU</a>: <a href="https://www.cs.cmu.edu/~ftorre/">Fernando De la Torre</a>.</li>
    <li><a href="https://research.google/teams/india-research-lab/">Google Research</a>: <a href="https://research.google/people/GauravAggarwal/">Gaurav Aggarwal</a>, <a href="https://www.kaihan.org/">Kai Han</a>, <a href="https://sujoyp.github.io/">Sujoy Paul</a>, <a href="https://sites.google.com/iisc.ac.in/somabiswas">Soma Biswas</a>, <a href="https://www.cse.iitk.ac.in/users/piyush/">Piyush Rai</a>.</li>
    <li>+ of-course, my <a href="https://people.iith.ac.in/vineethnb/">doctoral advisor</a>.</li>
    <li>+ all amazing colleagues at <a href="https://research.adobe.com/">Adobe Research</a>!</li>
  </ul>
</div>
