<div class="news">
  <h2>Publication Overview</h2>
    <table>
      <tr>
        <td class="date">Conferences: </td>
        <td class="announcement">
          <a href="https://arxiv.org/abs/2010.00352" target="_blank">NeurIPS 2020</a>,
          <a href="https://arxiv.org/abs/2008.07443" target="_blank">BMVC 2020</a>,
          <a href="https://arxiv.org/abs/1906.08771" target="_blank">IJCAI 2019</a>,
          <a href="https://arxiv.org/abs/1809.10238" target="_blank">WACV 2019</a>
        </td>
      </tr>
      <tr>
        <td class="date">Workshops: </td>
        <td class="announcement">
          <a href="https://arxiv.org/abs/2008.07443" target="_blank">CVPR 2020</a>,
          <a href="https://arxiv.org/abs/1906.08771" target="_blank">ICML 2019</a>,
          <a href="https://arxiv.org/abs/1809.07499" target="_blank">ECCV 2018</a>,
          <a href="https://josephkj.in/assets/pdf/icml-w-2018-paper.pdf" target="_blank">ICML 2018</a>
        </td>
      </tr>
    </table>
</div>
