<div class="news">
  <br/>
  <h3><strong>Services</strong></h3>
  <ul>
    <li>Tutorial Chair for <a href="https://www.icvgip.in/">ICVGIP 2024.</a></li>
    <li>Program Chair for <a href="https://unconf.continualai.org/">Continual AI Unconference 2023.</a></li>
    <li>Web Chair for <a href="https://www.acml-conf.org/2022/">ACML 2022</a>.</li>
    <li>Reviewer / PC member: CVPR (‘23, ‘22, ‘21), ICCV ('23), ECCV ('22), NeurIPS ‘22, ‘24, CoLLAs ‘23, AAAI ‘21, IJCAI (‘21, ‘20), ACML (‘22, ‘20)</li>
    <li>Reviewer for: IEEE Transactions on Image Processing, IEEE Transactions on Multimedia, Elsevier Pattern Recognition, Springer Machine Learning.</li>
  </ul>
</div>
